{% extends "layout.html" %}
{% block title %}Accueil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<p>
    La liste des serveurs sera affichée ici
    <br>
    faire un href pour chaque site (données passées en GET, gestion des données a afficher via des requetes.)
    <br>
    <a aria-current="page" href="{{ url_for('detail_conf_serv_load_balancer') }}">details de la configuration ici</a>
    <br>
    <a aria-current="page" href="{{ url_for('ajout_serv_load_balancer') }}">ajouter un serveur load_balancer ici</a>
    <br>
    <a aria-current="page" href="{{ url_for('suppr_serv_load_balancer') }}">supprimer un serveur load_balancer ici</a>

</p>
{% endblock %}